.container {
	font-size: 1rem;
	// margin-bottom: 8px;

	.selectedSizeLabel {
		color: var(--color-grey-2);
	}
}

.buttonContainer {
	display: flex;
	margin: 16px 0;

	.sizeButton {
		background-color: #fff;
		color: var(--global-blue);
		display: inline-flex;
		height: 34px;
		align-items: center;
		font-size: 16px;
		// padding: 15px;
		// margin: 10px 5px 0 0;

		padding: 0 16px;
		margin-right: 8px;

		border: 1px solid #d2d2d2;
		border-radius: 8px;

		&:hover {
			color: var(--color-black);
			border-color: var(--main-color-4);
			transition: 0.4s;
		}
	}

	.active {
		color: var(--color-black);
		border-color: var(--main-color-4);
	}
}
