.container {
	// padding-bottom: 10px;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	// padding-bottom: 10px;
	font-size: 14px;

	color: #484848;
	color: var(--main-color-4);
}

.currentBreadcrumb {
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 0.1em;
}

.icon {
	height: 25px;
	aspect-ratio: 1;
	cursor: pointer;
	&:hover {
		opacity: 0.8;
		transition: 0.2s;
	}
}
