.container {
	display: flex;
	padding-bottom: 16px;

	.catalogViewButton {
		&:first-child {
			border-radius: 4px 0 0 4px;
			border-right: 0;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
			border-left: 0;
		}

		align-items: center;
		justify-content: center;
		width: 40px;
		height: 32px;
		text-align: center;
		background-color: #fff;
		border: 1px solid #d2d2d2;
	}
	.catalogViewButton.active {
		background-color: var(--main-color-4);
		border-color: var(--main-color-4);
		color: #fff;
	}
}
