.wrapper {
	padding: 30px var(--global-pading);
	font-size: 18px;
	// width: 100%;

	.CatalogSettings {
		display: flex;
		justify-content: flex-end;
	}

	.container {
		display: grid;
		grid-template-columns: 2fr 12fr;
		gap: 5px;

		// .block {
		// 	background-color: aqua;
		// }
	}
}
