.drop-container {
	position: relative;
}

.drop-item {
	position: absolute;
	top: 100%;

	visibility: hidden;
	transform: translateX(-50%);
	opacity: 0;

	pointer-events: none;
	cursor: default;
	user-select: text;

	z-index: 51;
	white-space: wrap;

	background-color: #fff;
	transition: opacity 0.2s ease;

	border-right: 1px solid #dbdada;
	border-bottom: 1px solid #dbdada;
}

.drop-container:hover .drop-item {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
