.wrapper {
	margin: 30px var(--global-pading);
	font-size: 18px;
}

.container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.productMainInfo {
	.productName {
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 16px;
		opacity: 0.95;
	}

	.productRating {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: var(--color-grey-2);
		font-size: 14px;
		margin-right: 8px;
		margin-bottom: 16px;
	}
	.productRatingReviews {
		display: flex;
		align-items: center;

		gap: 8px;
	}

	.productTrade {
		width: 100%;
		margin-top: 16px;
		display: flex;
		align-items: center;
		gap: 30px;
	}
}

.buyButton {
	align-items: center;
	display: flex;
	justify-content: center;
	font-size: 18px;
	height: 40px;
	width: 100px;
	border-radius: 8px;
	background-color: var(--main-color-4);
	color: #fff;

	margin: 16px 0;

	&:hover {
		transition: 0.5s;
		background-color: var(--main-color-3);
		// color: var(--color-grey);
	}
}

.productAboutLeft,
.productAboutRight {
	margin-top: 10px;
}
.productAboutLeft {
	padding-right: 24px;
}
// .productAboutRight {
// 	// padding-left: 24px;
// }

.productTabsHeading {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 16px;
	opacity: 0.95;
	margin: 0 24px 24px 0;

	span {
		opacity: 0.3;
	}
}

.productDescription {
	margin: 24px 8px 24px 0;
	line-height: 30px;
}
.productDescriptionContent {
	font-size: 1rem;
	word-break: break-word;
}
