.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;

	width: 100%;
	height: 3.75rem;
	padding: 0 var(--global-pading);
	background-color: rgb(48, 48, 48);
	color: #fff;
	white-space: nowrap;

	.logo {
		font-size: 1.8rem;
		font-weight: 500;
		color: var(--main-color-2);
		// background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
		// background-clip: border-box;
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;

		width: 19rem;

		&:hover {
			text-shadow: 0 0 3px var(--main-color-2);
		}
	}

	.menu {
		display: flex;
		align-items: center;
		height: 100%;

		.item {
			// padding: 0.625rem;
			display: flex;
			align-items: center;
			background-color: transparent;
			height: 100%;

			.icon {
				width: 1.5625rem;
				height: 1.5625rem;
			}
		}
	}
	.iconContainer {
		padding: 0.625rem;
		display: flex;
		align-items: center;

		width: 100%;
		height: 100%;
	}
}
