.commentsList {
	.commentsItem {
		border: 1px solid var(--global-black-10);
		border-radius: 8px;
		padding: 12px 16px;
		font-size: 16px;
		&:not(:first-child) {
			margin-top: 12px;
		}
		.user {
			padding-bottom: 12px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.name {
				font-weight: 500;
				opacity: 0.95;
			}
			.date {
				font-size: 14px;
				color: var(--color-grey-2);
			}
		}
		p {
			line-height: 20px;
			padding-top: 12px;
		}
	}
}
